<a href="https://colab.research.google.com/github/ralph-mattew/machine-learning-retail-use-cases/blob/main/MachineLearningRetail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Application of Machine Learnng Techniques in Retail

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import re

sns.set_style('whitegrid')

## Dataset

In [2]:
!pip install -q kaggle
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/drive/MyDrive/98 others/kaggle"
%cd /content/drive/MyDrive/98 others/kaggle
!kaggle datasets download -d carrie1/ecommerce-data
! mkdir ecommerce-data
! unzip ecommerce-data.zip -d ecommerce-data
! rm ecommerce-data.zip

## Exploratory Data Analysis

In [24]:
sales = pd.read_csv('/content/ecommerce-data/data.csv',
                    engine='python')

In [26]:
sales.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

change `InvoiceNo` data type to string, convert `Description` to lowercase, `Qunatity` to integer, `UnitPrice` to float, `CustomerID` to integer, `Country` to lowercase.

In [27]:
sales.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

Archive:  ecommerce-data.zip
  inflating: ecommerce-data/data.csv